{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press Start 2P&display=swap">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div id="main-container">

    <h1>RANDOM QUOTE GENERATOR</h1>

    <h4>{{quote}}</h4>
    <h5>{{author}}</h5>

    <br>
    <form method="post" action="{% url 'index' %}">
        {% csrf_token %}
        <button type="submit">Generate Random Quote</button>
    </form>

</div>

</body>
</html>